<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">

    {{# Favicons #}}
    {{ partial:partials.favicons }}
    {{ partial:seo }}
    {{ vite src="resources/css/tailwind.css|resources/js/site.js" }}
</head>

<body
    class="flex flex-col justify-between min-h-screen font-sans antialiased {{ environment === 'local' ?= 'debug-screens' }}">
    {{ partial:layout/navigation }}
    {{ template_content }}
    {{ partial:layout/footer }}
</body>

</html>
