<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap" rel="stylesheet">

    {{# Favicons #}}
    {{ partial:partials.favicons }}

    {{ seotamic }}

    <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
    <script src="{{ mix src='/js/site.js' }}" defer></script>
</head>

<body
    class="flex flex-col justify-between min-h-screen font-sans antialiased {{ environment === 'local' ? 'debug-screens' : null }}">
    {{ partial:layout.navigation }}

    {{ template_content }}

    {{ partial:layout.footer }}
</body>

</html>
