<div class="container py-20">
    <div class="grid md:grid-cols-2 lg:grid-cols-5">
        <div class="mb-12 lg:col-span-2 md:mb-0">
            {{ partial:components/heading :label="title" size="h2" color="blue" class="text-center md:text-left md:max-w-xs" }}
        </div>

        <div class="space-y-14 lg:col-span-3 md:space-y-10 lg:space-y-16">
            {{ items }}
                <div class="flex flex-col w-full">
                    <div x-data="{ isOpen : false }">
                        <button class="flex items-center" @click.prevent="isOpen = true">
                            <div class="mr-7">
                                <span x-show="isOpen">
                                    {{ svg src="minus" class="w-6 h-6 text-purple-500 fill-current" }}
                                </span>
                                <span x-show="!isOpen">
                                    {{ svg src="plus" class="w-6 h-6 text-purple-500 fill-current" }}
                                </span>
                            </div>
                            <span class="text-2xl font-semibold text-left text-indigo-900">
                                {{ title }}
                            </span>
                        </button>

                        <div x-show="isOpen" @click.away="isOpen = false"
                            class="mt-3 font-medium prose prose-lg prose-p:text-indigo-600 max-w-none" x-collapse>
                            {{ content }}
                        </div>
                    </div>
                </div>
            {{ /items }}
        </div>
    </div>
</div>