<div class="container py-16 md:py-24">
    {{ partial:components.heading :label="title" size="h1" color="blue" center="true" }}

    {{ if description }}
        {{ partial:components.lead :label="description" size="lg" color="bluegray" class="mt-4 text-center" }}
    {{ /if }}
    <div class="grid gap-4 mt-12 md:grid-cols-2 xl:grid-cols-3">
        {{ collection from="posts" limit="3" }}
            <div class="flex flex-col justify-between p-8 bg-white shadow-xs rounded-2xl">
                <a href="{{ url }}">
                    {{ partial:components.heading :label="title" size="h3" color="blue" class="hover:underline" }}
                </a>

                {{ if excerpt }}
                    {{ partial:components.lead :label="excerpt" size="base" color="bluegray" class="mt-5" }}
                {{ /if }}

                {{ partial:components.arrow_link :link="url" label="Read More" }}
            </div>
        {{ /collection }}
    </div>
</div>