<div class="container py-16 md:py-24">
    {{ partial:components.heading :label="title" size="h1" color="blue" }}

    {{ if description }}
        {{ partial:components.lead :label="description" size="lg" color="bluegray" class="mt-4" }}
    {{ /if }}

    <div class="grid gap-5 pt-12 md:grid-cols-2">

        {{ collection:posts limit="3" }}
            <div class="px-6 py-8 bg-white shadow-xs rounded-xl">
                {{ partial:components.lead :label="date" size="base" color="bluegray" class="mb-2" }}

                <a href="{{ url }}">
                    {{ partial:components.heading :label="title" size="h3" color="blue" class="hover:underline" }}
                </a>

                {{ if excerpt }}
                    {{ partial:components.lead :label="excerpt" size="base" color="bluegray" class="mt-4" }}
                {{ /if }}

                {{ if author }}
                    {{ author }}
                        <div class="flex items-center mt-16">
                            <div class="w-20 h-20 overflow-hidden rounded-xl">
                                {{ partial:components/picture :image="avatar" cover="true" }}
                            </div>
                            <div class="ml-4">
                                {{ partial:components.heading :label="name" size="h5" color="blue" }}

                                {{ if position }}
                                    {{ partial:components.lead :label="position" size="base" color="bluegray" class="mt-3" }}
                                {{ /if }}
                            </div>
                        </div>
                    {{ /author }}
                {{ /if }}
            </div>
        {{ /collection:posts }}
    </div>
</div>