<div class="bg-gray-100">
    <div class="container py-20 md:py-24">
        <div class="flex flex-col items-start max-w-lg mb-6">
            {{ if title }}
                {{ partial:components.heading :label="title" size="h3" color="blue" line="true" }}
                <div class="w-[56px] h-[2px] bg-black mb-2"></div>
            {{ /if }}

            {{ if description }}
                {{ partial:components.lead :label="description" size="lg" color="bluegray" class="mt-4" }}
            {{ /if }}
        </div>

        <div class="grid grid-cols-1 gap-10 pt-10 md:gap-5 md:grid-cols-2">
            {{ prices }}
                <div
                    class="flex flex-col overflow-hidden transition-shadow duration-300 ease-in-out bg-white border shadow-lg rounded-2xl hover:shadow-xl">
                    <div class="flex flex-col justify-start h-full px-5 py-8">
                        {{ if title }}
                            <p class="mb-6 text-sm tracking-widest text-purple-500 uppercase">
                                {{ title }}
                            </p>
                        {{ /if }}

                        <p class="mb-2 text-4xl font-bold text-gray-900">
                            {{ price }}
                            {{ if duration }}
                                <span
                                    class="mt-3 ml-2 text-lg text-gray-500">
                                    {{ duration }}
                                </span>
                            {{ /if }}
                        </p>


                        {{ if description }}
                            <p class="mb-6 text-gray-500">
                                {{ description }}
                            </p>
                        {{ /if }}

                        {{ if features }}
                            <div class="space-y-3">
                                {{ features }}
                                    <div class="flex items-center">
                                        {{ svg src="check" class="w-6 h-6 mr-2 text-purple-500 fill-current" }}
                                        <p class="text-bluegray-300">
                                            {{ title }}
                                        </p>
                                    </div>
                                {{ /features }}
                            </div>
                        {{ /if }}
                    </div>

                    {{ if toggle and label }}
                        <div class="px-5 py-8">
                            {{ partial:components.button size="{button_size}" color="{variant}" }}
                        </div>
                    {{ /if }}
                </div>
            {{ /prices }}

        </div>

    </div>
</div>
