<div class="bg-purple-500">
    <div class="container py-20 md:py-24">
        <div class="flex flex-col items-center justify-center mb-6 text-center">
            {{ if title }}
                {{ partial:components.heading :label="title" size="h3" color="white" class="mb-4" }}
                <div class="w-[56px] h-[2px] bg-white mb-2"></div>
            {{ /if }}

            {{ if description }}
                {{ partial:components.lead :label="description" size="lg" color="white" }}
            {{ /if }}
        </div>

        <div class="grid gap-10 mt-10 md:gap-5 md:grid-cols-2 xl:grid-cols-3">
            {{ prices }}
                <div
                    class="relative flex flex-col bg-white shadow-lg rounded-2xl hover:shadow-xl transition-shadow duration-300 ease-in-out {{ featured ? 'bg-gray-100 border-2 border-purple-500' : 'bg-white border' }}">
                    <div class="flex flex-col justify-start h-full px-5 py-8">

                        {{ if featured }}
                            <div
                                class="absolute px-4 py-1 text-purple-500 bg-gray-100 border border-purple-500 rounded-xl -top-3 left-4">
                                <p class="flex flex-col items-center text-sm font-bold uppercase tracing-widest">
                                    {{ featured_name }}
                                </p>
                            </div>
                        {{ /if }}

                        {{ if title }}
                            <p class="mb-6 text-sm tracking-widest text-purple-500 uppercase">
                                {{ title }}
                            </p>
                        {{ /if }}

                        <p class="mb-2 text-4xl font-bold text-gray-900">
                            {{ price }}
                            {{ if duration }}
                                <span
                                    class="mt-3 ml-2 text-lg text-gray-500">
                                    {{ duration }}
                                </span>
                            {{ /if }}
                        </p>


                        {{ if description }}
                            <p class="mb-6 text-gray-500">
                                {{ description }}
                            </p>
                        {{ /if }}

                        {{ if features }}
                            <div class="divide-y divide-purple-500 divide-opacity-50">
                                {{ features }}
                                    <div class="flex items-center py-4">
                                        {{ svg src="check" class="w-6 h-6 mr-2 text-purple-500 fill-current" }}
                                        <p class="text-bluegray-500">
                                            {{ title }}
                                        </p>
                                    </div>
                                {{ /features }}
                            </div>
                        {{ /if }}
                    </div>

                    {{ if toggle and label }}
                        <div class="px-5 py-8">
                            {{ partial:components.button size="{button_size}" color="{variant}" }}
                        </div>
                    {{ /if }}
                </div>
            {{ /prices }}
        </div>
    </div>
</div>
