<div class="container py-20">
    {{ if title }}
        {{ partial:components.heading label=title size="h1" color="blue" class="text-center" line="true" center="true" }}
    {{ /if }}

    <div class="flex flex-wrap py-20">
        <div class="mb-10 md:w-7/12 md:mb-0">
            <div class="max-w-3xl mx-auto">
                <img src="{{ glide:image width="740" fit="crop_focal" }}"
                    alt="{{ image:alt }}" class="object-cover w-full h-auto">
            </div>
        </div>
        <div class="w-full md:w-5/12">
            {{ partial:partials.contact_form }}
        </div>
    </div>
</div>
