<div class="px-5 py-10 md:py-32 md:px-0">
    <div class="container px-8 py-12 bg-purple-500 md:px-12 rounded-2xl">
        <div class="flex flex-col items-center justify-around md:flex-row">
            <div class="md:mr-auto md:ml-[5%]">
                {{ if title }}
                    {{ partial:components.heading :label="title" size="h1" color="white" }}
                {{ /if }}

                {{ if description }}
                    {{ partial:components.lead :label="description" size="lg" color="white" class="mt-3" }}
                {{ /if }}
            </div>
            {{ if toggle and label }}
                <div class="mt-12 md:mt-0 md:mr-[5%]">
                    {{ partial:components.button size="{button_size}" color="{variant}" }}
                </div>
            {{ /if }}
        </div>
    </div>
</div>
