<div class="py-16 bg-pink-100 md:py-32">
    <div class="container">
        <div class="flex flex-wrap items-center justify-around text-center md:text-left">
            <div class="max-w-lg mr-auto">
                {{ if title }}
                    {{ partial:components.heading :label="title" size="h1" color="blue" }}
                {{ /if }}
                {{ if description }}
                    {{ partial:components.lead :label="description" size="lg" color="bluegray" class="mt-3" }}
                {{ /if }}
            </div>
            {{ if toggle and label }}
                <div class="mt-6 md:mt-0">
                    {{ partial:components.button size="{button_size}" color="{variant}" }}
                </div>
            {{ /if }}
        </div>
    </div>
</div>
