<div class="container py-16 md:py-24">
    <div class="mx-auto lg:w-3/5">
        {{ if title }}
            {{ partial:components.heading :label="title" size="h3" color="blue" line="true" center="true" }}
        {{ /if }}

        {{ if description }}
            {{ partial:components.lead :label="description" size="xl" color="bluegray" class="mt-4 mb-12 text-center" }}
        {{ /if }}

        <div class="grid md:grid-cols-2 gap-14">
            {{ items }}
                <div class="flex flex-row items-center">
                    {{ if icon }}
                        <div class="flex items-center justify-center w-20 h-20 mr-5 bg-pink-500 shrink-0 rounded-3xl">
                            {{ svg :src="icon" class="w-10 h-10 text-white fill-current" }}
                        </div>
                    {{ /if }}
                    <div>
                        {{ if title }}
                            {{ partial:components.heading :label="title" size="h5" color="blue" }}
                        {{ /if }}
                        {{ if description }}
                            <div class="md:max-w-[240px] mt-2">
                                {{ partial:components.lead :label="description" size="base" color="bluegray" }}
                            </div>
                        {{ /if }}
                    </div>
                </div>
            {{ /items }}
        </div>
    </div>
</div>
