<div class="container relative flex flex-col items-center justify-between py-16 overflow-hidden md:py-24">
    <div class="max-w-3xl mx-auto mb-6 text-center">
        {{ if title }}
            {{ partial:components.heading :label="title" size="h1" color="blue" }}
        {{ /if }}

        {{ if description }}
            {{ partial:components.lead :label="description" size="xl" color="bluegray" class="mt-4" }}
        {{ /if }}
    </div>


    {{ if toggle and label }}
        {{ partial:components.button size="{button_size}" color="{variant}" }}
    {{ /if }}

    <div class="absolute left-[50%] top-[50%] translate-x-[-50%] md:translate-y-[8%] translate-y-[25%] rounded-full xl:w-[1115px] xl:h-[1115px] lg:w-[950px] lg:h-[950px] md:w-[800px] md:h-[800px] w-[400px] h-[400px] bg-gradient-from-left"
        style="z-index: -1;">

    </div>

    <div class="max-w-3xl mx-auto mt-12">
        {{ partial:components/picture cover="true" }}
    </div>
</div>
