<div class="container py-16 md:py-20 xl:py-36">
    <div class="flex flex-wrap lg:flex-nowrap md:items-center">
        <div class="max-w-2xl p-4">
            {{ partial:components/picture cover="true" }}
        </div>
        <div class="lg:w-1/2 md:ml-[5%] mt-12 lg:mt-0 md:mr-6 lg:mr-0">
            <div class="xl:w-9/12">
                {{ if title }}
                    {{ partial:components.heading :label="title" size="h3" as="h3" color="blue" line="true" }}
                {{ /if }}

                {{ if description }}
                    {{ partial:components.lead :label="description" size="xl" color="bluegray" class="mt-4" }}
                {{ /if }}

                {{ if toggle and label }}
                    <div class="flex justify-center mt-16 md:justify-start">
                        {{ partial:components.button size="{button_size}" color="{variant}" }}
                    </div>
                {{ /if }}
            </div>
        </div>
    </div>
</div>
